.container
{
    height: 82%;
    width: 100%;
    background-color: #e7e7e7;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.card{
    margin: 8px;
    height: 45%;
    width: 15%;
    border-style:groove;
    border-color: 1px solid gray;
    background-color:none;
    cursor: pointer;
    transform-box: view-box;
}
.image-card{
    height: 55%;
    width: 100%;
    background-color:none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-card>img
{
    
    height: 95%;
    width:95%;
}
.card-content{
    height: 45%;
    width: 100%;
    background-color:none;
    padding: 2px;
    display: flex;

   
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}